In [14]:
import pandas as pd
import requests
pd.set_option('display.max_column', None) # to see column in wide dataframe
import time
import numpy as np

EXTRACT PLAYER DATA

In [34]:
#To acquire this url, go to https://www.nba.com/stats -> right click to "Inspect" -> Select "Network" -> click on "Fetch/XHR" -> select "leaguedashplayerstats...." and copy the "Request URL" from Header window.
#Note that depends on your selection from the filter, you will get different urls
test_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season=2012-13&SeasonType=Regular%20Season&StatCategory=PTS'

In [35]:
r = requests.get(url=test_url).json()

In [36]:
table_headers = r['resultSet']['headers']

In [37]:
pd.DataFrame(r['resultSet']['rowSet'],columns=table_headers)

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,...,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,201142,1,Kevin Durant,1610612760,OKC,81,3119,731,1433,0.510,...,640,374,116,105,280,143,2280,2462,1.34,0.41
1,977,2,Kobe Bryant,1610612747,LAL,78,3013,738,1595,0.463,...,433,469,106,25,287,173,2133,1921,1.63,0.37
2,2544,3,LeBron James,1610612748,MIA,76,2877,765,1354,0.565,...,610,551,129,67,226,110,2036,2446,2.44,0.57
3,201935,4,James Harden,1610612745,HOU,78,2985,585,1337,0.438,...,379,455,142,38,295,178,2023,1872,1.54,0.48
4,2546,5,Carmelo Anthony,1610612752,NYK,67,2482,669,1489,0.449,...,460,171,52,32,175,205,1920,1553,0.98,0.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,203130,463,Darius Johnson-Odom,1610612747,LAL,4,6,0,4,0.000,...,4,1,0,0,0,0,0,1,0.00,0.00
464,2545,463,Darko Milicic,1610612738,BOS,1,5,0,1,0.000,...,1,0,0,0,2,1,0,-2,0.00,0.00
465,202458,463,Justin Dentmon,1610612742,DAL,2,4,0,2,0.000,...,0,0,0,0,0,0,0,-2,0.00,0.00
466,2679,463,Matt Carroll,1610612766,CHA,1,6,0,0,0.000,...,0,1,0,0,0,1,0,1,0.00,0.00
467,200780,463,Solomon Jones,1610612752,NYK,2,26,0,1,0.000,...,3,0,0,1,3,3,0,0,0.00,0.00

In [22]:
temp_df1 = pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)
temp_df2 = pd.DataFrame({'Year':['2012-2013' for i in range(len(temp_df1))],
                        'Season_type': ['Regular%20Season' for i in range(len(temp_df1))]})
temp_df3 = pd.concat([temp_df2,temp_df1], axis=1)
temp_df3

,Year,Season_type,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,2012-2013,Regular%20Season,201142,1,Kevin Durant,1610612760,OKC,81,3119,731,1433,0.510,139,334,0.416,679,750,0.905,46,594,640,374,116,105,280,143,2280,2462,1.34,0.41
1,2012-2013,Regular%20Season,977,2,Kobe Bryant,1610612747,LAL,78,3013,738,1595,0.463,132,407,0.324,525,626,0.839,66,367,433,469,106,25,287,173,2133,1921,1.63,0.37
2,2012-2013,Regular%20Season,2544,3,LeBron James,1610612748,MIA,76,2877,765,1354,0.565,103,254,0.406,403,535,0.753,97,513,610,551,129,67,226,110,2036,2446,2.44,0.57
3,2012-2013,Regular%20Season,201935,4,James Harden,1610612745,HOU,78,2985,585,1337,0.438,179,486,0.368,674,792,0.851,62,317,379,455,142,38,295,178,2023,1872,1.54,0.48
4,2012-2013,Regular%20Season,2546,5,Carmelo Anthony,1610612752,NYK,67,2482,669,1489,0.449,157,414,0.379,425,512,0.830,134,326,460,171,52,32,175,205,1920,1553,0.98,0.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,2012-2013,Regular%20Season,203130,463,Darius Johnson-Odom,1610612747,LAL,4,6,0,4,0.000,0,1,0.000,0,0,0.000,1,3,4,1,0,0,0,0,0,1,0.00,0.00
464,2012-2013,Regular%20Season,2545,463,Darko Milicic,1610612738,BOS,1,5,0,1,0.000,0,0,0.000,0,0,0.000,0,1,1,0,0,0,2,1,0,-2,0.00,0.00
465,2012-2013,Regular%20Season,202458,463,Justin Dentmon,1610612742,DAL,2,4,0,2,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,-2,0.00,0.00
466,2012-2013,Regular%20Season,2679,463,Matt Carroll,1610612766,CHA,1,6,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,1,0,0,0,1,0,1,0.00,0.00
467,2012-2013,Regular%20Season,200780,463,Solomon Jones,1610612752,NYK,2,26,0,1,0.000,0,0,0.000,0,0,0.000,1,2,3,0,0,1,3,3,0,0,0.00,0.00

In [23]:
del temp_df1, temp_df2, temp_df3

In [38]:
df_cols = ['Year', ' Season_type'] + table_headers

In [9]:
# df = pd.DataFrame(columns=df_cols)
# season_types = ['Regular%20Season', 'Playoffs']
# years = ['2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18', '2018-19', '2019-20', '2020-21', '2021-22', '2022-23']
# begin_loop = time.time()
# for y in years: 
#     for s in season_types:
#         api_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season=' +y+'&SeasonType='+s+'&StatCategory=PTS'
#         r = requests.get(url=api_url).json()
#         temp_df1 = pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)
#         temp_df2 = pd.DataFrame({'Year':[y for i in range(len(temp_df1))],
#                                 'Season_type': [s for i in range(len(temp_df1))]})
#         temp_df3 = pd.concat([temp_df2,temp_df1], axis=1)
#         df = pd.concat([df, temp_df3], axis=0)
#         print(f'Finished scraping data for the {y} {s}. ')
#         lag = np.random.uniform(5,40)
#         print(f'...waiting {round(lag,1)} seconds')
#         time.sleep(lag)
# print(f'Process done! Total run time: {round((time.time() - begin_loop)/60,2)}')
# df.to_excel('nba_player_data.xlsx',index=False)

#added comments as below

In [ ]:
df_cols = [...]  # List of column names
df = pd.DataFrame(columns=df_cols)

season_types = ['Regular%20Season', 'Playoffs']
years = ['2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18', '2018-19', '2019-20', '2020-21', '2021-22', '2022-23']
begin_loop = time.time()

for y in years: 
    for s in season_types:
        api_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season=' +y+'&SeasonType='+s+'&StatCategory=PTS'
        r = requests.get(url=api_url).json()
        
        temp_df1 = pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)
        
        # Create a separate DataFrame for 'Year' and 'Season_type'
        temp_df2 = pd.DataFrame({'Year': [y for _ in range(len(temp_df1))],
                                 'Season_type': [s for _ in range(len(temp_df1))]})
        
        # Concatenate the 'Year' and 'Season_type' DataFrame with temp_df1
        temp_df3 = pd.concat([temp_df2, temp_df1], axis=1)
        
        # Append temp_df3 to the main DataFrame
        df = pd.concat([df, temp_df3], axis=0)
        
        print(f'Finished scraping data for the {y} {s}. ')
        lag = np.random.uniform(5, 40)
        print(f'...waiting {round(lag, 1)} seconds')
        time.sleep(lag)

print(f'Process done! Total run time: {round((time.time() - begin_loop)/60, 2)}')
df.to_excel('nba_player_data.xlsx', index=False)

In [41]:
df = df.drop(columns=df.columns[0])

In [49]:
df = df.rename(columns={'PLAYER': 'PLAYER_NAME', 'TEAM_ID': 'TEAM_ID_NEW'})

In [55]:
df = df.rename(columns={'PLAYER_NAME': 'PLAYER_NAME', 'TEAM_ID_NEW': 'TEAM_ID_NEW_2'})
df.to_excel('nba_player_data_1.xlsx', index=False)

In [57]:
# rank column name needs to change as rank is an operation in sql
df.rename(columns={'RANK': 'PLAYER_RANK'}, inplace=True)

In [ ]:
import pandas as pd
import requests
import time
import numpy as np
import mysql.connector
from mysql.connector import Error

# Database connection
try:
    conn = mysql.connector.connect(
        database='NBA',
        user='root',
        password='Money1995!',
        host='localhost'
    )
    if conn.is_connected():
        cursor = conn.cursor()
        print("Connected to MySQL database")
except Error as e:
    print(f"Error: {e}")
    # Exit the script if the connection failed
    exit()

# DataFrame containing your data
# try:
#     df_a = pd.read_csv(r'D:\NBA_webscraping_project\NBA_Web_scraping_project\nba_player_data.csv')
# except FileNotFoundError:
#     print("Error: CSV file not found")
#     # Exit the script if the CSV file was not found
#     exit()

# Define the table name
table_name = "player_stats"  # Replace with the desired table name

# Create the table based on DataFrame columns
create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ("

for column_name, data_type in zip(df.columns, df.dtypes):
    # Convert pandas data types to MySQL data types
    mysql_data_type = "VARCHAR(255)" if data_type == 'object' else "DOUBLE"

    create_table_query += f"{column_name} {mysql_data_type}, "

create_table_query = create_table_query[:-2] + ");"  # Remove the trailing comma and space

# Execute the CREATE TABLE query
try:
    cursor.execute(create_table_query)
    print(f"Table '{table_name}' created successfully")
except Error as e:
    print(f"Error: {e}")

# Commit the changes to the database
try:
    conn.commit()
    print("Changes committed successfully")
except Error as e:
    print(f"Error: {e}")

# Insert data into the table, handling NaN values
for index, row in df.iterrows():
    values = tuple(row)  # Convert the entire row to a tuple
    insert_query = f"INSERT INTO {table_name} VALUES ({', '.join(['%s'] * len(values))})"
    try:
        cursor.execute(insert_query, values)
        print(f"Inserted row {index + 1}")
    except Error as e:
        print(f"Error inserting row {index + 1}: {e}")

# Commit the changes to the database
try:
    conn.commit()
    print("Changes committed successfully")
except Error as e:
    print(f"Error: {e}")

# Close the cursor and the database connection
try:
    cursor.close()
    conn.close()
    print("MySQL connection is closed")
except Error as e:
    print(f"Error: {e}")

EXTRACT GAME DATA:

In [ ]:
import requests

# Define the URL
url_1= "https://stats.nba.com/stats/teamgamelogs?DateFrom=&DateTo=&GameSegment=&ISTRound=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=Totals&Period=0&PlusMinus=N&Rank=N&Season=2022-23&SeasonSegment=&SeasonType=Regular%20Season&ShotClockRange=&VsConference=&VsDivision="

# Define the headers
headers = {
    "Accept": "*/*",
    "Accept-Language": "en-US,en;q=0.9",
    "Connection": "keep-alive",
    "Origin": "https://www.nba.com",
    "Referer": "https://www.nba.com/",
    "Sec-Fetch-Dest": "empty",
    "Sec-Fetch-Mode": "cors",
    "Sec-Fetch-Site": "same-site",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
    "sec-ch-ua": '"Not_A Brand";v="8", "Chromium";v="120", "Google Chrome";v="120"',
    "sec-ch-ua-mobile": "?0",
    "sec-ch-ua-platform": '"Windows"'
}

# Make the GET request
t = requests.get(url_1, headers=headers)

# Check if the request was successful
if t.status_code == 200:
    t = t.json()  # Assuming the response is in JSON format
    # Process the data as needed
    print(t)
else:
    print(f"Request failed with status code: {t.status_code}")

In [ ]:
table_headers_2 = t.get('resultSets', [])[0].get('headers', [])

# Check if 'headers' exists and is not empty
if table_headers_2:
    print("Table Headers:", table_headers_2)
else:
    print("No 'headers' found in the JSON response.")

In [5]:
result_sets = t.get('resultSets', [])

# Check if 'resultSets' exists and is not empty
if result_sets:
    # Assuming want data from the first result set
    data = result_sets[0].get('rowSet', [])  # Extract the data
    
    if data:
        # Assuming you've already obtained the 'table_headers_2' list
        df = pd.DataFrame(data, columns=table_headers_2)
        # Now 'df' contains your data in a Pandas DataFrame
    else:
        print("No data found in the first result set.")
else:
    print("No 'resultSets' found in the JSON response.")

In [6]:
data = t.get('resultSets', [])[0].get('rowSet', [])  # Extract the data

# Assuming already obtained the 'table_headers_2' list
df2 = pd.DataFrame(data, columns=table_headers_2)

In [7]:
df2 = pd.DataFrame(data, columns=table_headers_2)

In [ ]:
#check to see if df2 in right format
df2

In [2]:
import time

In [28]:
# #Extract team_stats to excel

# df_cols_2 = [...]  # List of column names
# df_1 = pd.DataFrame(columns=df_cols_2)

# season_types = ['Regular%20Season', 'Playoffs']
# years = ['2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18', '2018-19', '2019-20', '2020-21', '2021-22', '2022-23']
# begin_loop = time.time()

# for y in years: 
#     for s in season_types:
#         api_url_2 = 'https://stats.nba.com/stats/teamgamelogs?DateFrom=&DateTo=&GameSegment=&ISTRound=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=Totals&Period=0&PlusMinus=N&Rank=N&Season=2022-23&SeasonSegment=&SeasonType=Regular%20Season&ShotClockRange=&VsConference=&VsDivision='
#         t1 = requests.get(url=api_url_2, headers=headers).json()
        
#         temp_df4 = pd.DataFrame(t.get('resultSets', [])[0].get('rowSet', []), columns=table_headers_2)
        
#         # Create a separate DataFrame for 'Year' and 'Season_type'
#         temp_df5= pd.DataFrame({'Year': [y for _ in range(len(temp_df4))],
#                                  'Season_type': [s for _ in range(len(temp_df4))]})
        
#         # Concatenate the 'Year' and 'Season_type' DataFrame with temp_df1
#         temp_df6 = pd.concat([temp_df4, temp_df5], axis=1)
        
#         # Append temp_df3 to the main DataFrame
#         df_1 = pd.concat([df_1, temp_df6], axis=0)
        
#         print(f'Finished scraping data for the {y} {s}. ')                                         
#         lag = np.random.uniform(5, 40)    
#         time.sleep(lag)

# print(f'Process done! Total run time: {round((time.time() - begin_loop)/60, 2)}')
# df_1.to_excel('nba_team_stats.xlsx', index=False)

Finished scraping data for the 2012-13 Regular%20Season.
Finished scraping data for the 2012-13 Playoffs.
Finished scraping data for the 2013-14 Regular%20Season.
Finished scraping data for the 2013-14 Playoffs.
Finished scraping data for the 2014-15 Regular%20Season.
Finished scraping data for the 2014-15 Playoffs.
Finished scraping data for the 2015-16 Regular%20Season.
Finished scraping data for the 2015-16 Playoffs.
Finished scraping data for the 2016-17 Regular%20Season.
Finished scraping data for the 2016-17 Playoffs.
Finished scraping data for the 2017-18 Regular%20Season.
Finished scraping data for the 2017-18 Playoffs.
Finished scraping data for the 2018-19 Regular%20Season.
Finished scraping data for the 2018-19 Playoffs.
Finished scraping data for the 2019-20 Regular%20Season.
Finished scraping data for the 2019-20 Playoffs.
Finished scraping data for the 2020-21 Regular%20Season.
Finished scraping data for the 2020-21 Playoffs.
Finished scraping data for the 2021-22 Regular%20Season.
Finished scraping data for the 2021-22 Playoffs.
Finished scraping data for the 2022-23 Regular%20Season.
Finished scraping data for the 2022-23 Playoffs.
Process done! Total run time: 8.1

CONNECT TO MYSQL DATABASE

In [29]:
import pandas as pd
import requests
import time
import numpy as np
import mysql.connector
from mysql.connector import Error

# Database connection
try:
    conn = mysql.connector.connect(
        database='NBA',
        user='root',
        password='Money1995!',
        host='localhost'
    )
    if conn.is_connected():
        cursor = conn.cursor()
        print("Connected to MySQL database")
except Error as e:
    print(e)

df_cols_2 = [...]  # List of column names
df_7 = pd.DataFrame(columns=df_cols_2)

season_types = ['Regular%20Season', 'Playoffs']
years = ['2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18', '2018-19', '2019-20', '2020-21', '2021-22', '2022-23']
begin_loop = time.time()

for y in years: 
    for s in season_types:
        api_url_2 = 'https://stats.nba.com/stats/teamgamelogs?DateFrom=&DateTo=&GameSegment=&ISTRound=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=Totals&Period=0&PlusMinus=N&Rank=N&Season=2022-23&SeasonSegment=&SeasonType=Regular%20Season&ShotClockRange=&VsConference=&VsDivision='
        t1 = requests.get(url=api_url_2, headers=headers).json()
        
        temp_df4 = pd.DataFrame(t.get('resultSets', [])[0].get('rowSet', []), columns=table_headers_2)
        
        # Create a separate DataFrame for 'Year' and 'Season_type'
        temp_df5= pd.DataFrame({'Year': [y for _ in range(len(temp_df4))],
                                 'Season_type': [s for _ in range(len(temp_df4))]})
        
        # Concatenate the 'Year' and 'Season_type' DataFrame with temp_df1
        temp_df6 = pd.concat([temp_df4, temp_df5], axis=1)
        
        # Append temp_df3 to the main DataFrame
        df_7 = pd.concat([df_7, temp_df6], axis=0)
        
        print(f'Finished scraping data for the {y} {s}. ')                                         
        lag = np.random.uniform(5, 40)    
        time.sleep(lag)

print(f'Process done! Total run time: {round((time.time() - begin_loop)/60, 2)}')
if conn.is_connected():
    cursor.close()
    conn.close()
    print("MySQL connection is closed")

Connected to MySQL database
Finished scraping data for the 2012-13 Regular%20Season.
Finished scraping data for the 2012-13 Playoffs.
Finished scraping data for the 2013-14 Regular%20Season.
Finished scraping data for the 2013-14 Playoffs.
Finished scraping data for the 2014-15 Regular%20Season.
Finished scraping data for the 2014-15 Playoffs.
Finished scraping data for the 2015-16 Regular%20Season.
Finished scraping data for the 2015-16 Playoffs.
Finished scraping data for the 2016-17 Regular%20Season.
Finished scraping data for the 2016-17 Playoffs.
Finished scraping data for the 2017-18 Regular%20Season.
Finished scraping data for the 2017-18 Playoffs.
Finished scraping data for the 2018-19 Regular%20Season.
Finished scraping data for the 2018-19 Playoffs.
Finished scraping data for the 2019-20 Regular%20Season.
Finished scraping data for the 2019-20 Playoffs.
Finished scraping data for the 2020-21 Regular%20Season.
Finished scraping data for the 2020-21 Playoffs.
Finished scraping data for the 2021-22 Regular%20Season.
Finished scraping data for the 2021-22 Playoffs.
Finished scraping data for the 2022-23 Regular%20Season.
Finished scraping data for the 2022-23 Playoffs.
Process done! Total run time: 6.22
MySQL connection is closed

In [31]:
# drop NaN table
df_7 = df_7.drop(columns=df_7.columns[0])

In [32]:
df_7

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,AVAILABLE_FLAG,Year,Season_type
0,2022-23,1.610613e+09,GSW,Golden State Warriors,0022201230,2023-04-09T00:00:00,GSW @ POR,W,48.0,58.0,...,55.0,512.0,457.0,678.0,2455.0,3.0,1.0,1.0,2012-13,Regular%20Season
1,2022-23,1.610613e+09,BKN,Brooklyn Nets,0022201217,2023-04-09T00:00:00,BKN vs. PHI,L,48.0,35.0,...,1444.0,512.0,1279.0,1607.0,460.0,1924.0,2406.0,1.0,2012-13,Regular%20Season
2,2022-23,1.610613e+09,DET,Detroit Pistons,0022201223,2023-04-09T00:00:00,DET @ CHI,L,48.0,31.0,...,2438.0,1603.0,1950.0,318.0,1999.0,2458.0,2327.0,1.0,2012-13,Regular%20Season
3,2022-23,1.610613e+09,DAL,Dallas Mavericks,0022201224,2023-04-09T00:00:00,DAL vs. SAS,L,48.0,46.0,...,2048.0,1603.0,457.0,1383.0,2335.0,966.0,2299.0,1.0,2012-13,Regular%20Season
4,2022-23,1.610613e+09,MIL,Milwaukee Bucks,0022201221,2023-04-09T00:00:00,MIL @ TOR,L,48.0,38.0,...,1735.0,2005.0,183.0,74.0,1306.0,1924.0,2162.0,1.0,2012-13,Regular%20Season
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,2022-23,1.610613e+09,ORL,Orlando Magic,0022200003,2022-10-19T00:00:00,ORL @ DET,L,48.0,42.0,...,1735.0,809.0,859.0,2002.0,855.0,1643.0,1424.0,1.0,2022-23,Playoffs
2456,2022-23,1.610613e+09,BOS,Boston Celtics,0022200001,2022-10-18T00:00:00,BOS vs. PHI,W,48.0,46.0,...,800.0,1603.0,457.0,2002.0,225.0,395.0,587.0,1.0,2022-23,Playoffs
2457,2022-23,1.610613e+09,PHI,Philadelphia 76ers,0022200001,2022-10-18T00:00:00,PHI @ BOS,L,48.0,40.0,...,800.0,1603.0,457.0,2141.0,321.0,966.0,1798.0,1.0,2022-23,Playoffs
2458,2022-23,1.610613e+09,GSW,Golden State Warriors,0022200002,2022-10-18T00:00:00,GSW vs. LAL,W,48.0,45.0,...,196.0,1183.0,859.0,1831.0,1536.0,557.0,331.0,1.0,2022-23,Playoffs
2459,2022-23,1.610613e+09,LAL,Los Angeles Lakers,0022200002,2022-10-18T00:00:00,LAL @ GSW,L,48.0,40.0,...,107.0,1183.0,859.0,678.0,460.0,1643.0,2081.0,1.0,2022-23,Playoffs

INSERT DATA TO DATABASE

In [ ]:
# Database connection
try:
    conn = mysql.connector.connect(
        database='NBA',
        user='root',
        password='Money1995!',
        host='localhost'
    )
    if conn.is_connected():
        cursor = conn.cursor()
        print("Connected to MySQL database")
except Error as e:
    print(f"Error: {e}")
    # Exit the script if the connection failed
    exit()

# DataFrame containing your data
# try:
#     df_1 = pd.read_csv(r'D:\NBA_webscraping_project\NBA_Web_scraping_project\nba_team_stats.csv')
# except FileNotFoundError:
#     print("Error: CSV file not found")
#     # Exit the script if the CSV file was not found
#     exit()

# Define the table name
table_name = "test1"  # Replace with the desired table name

# Create the table based on DataFrame columns
create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ("

for column_name, data_type in zip(df_7.columns, df_7.dtypes):
    # Convert pandas data types to MySQL data types
    mysql_data_type = "VARCHAR(255)" if data_type == 'object' else "DOUBLE"
    
    create_table_query += f"{column_name} {mysql_data_type}, "

create_table_query = create_table_query[:-2] + ");"  # Remove the trailing comma and space

# Execute the CREATE TABLE query
try:
    cursor.execute(create_table_query)
    print(f"Table '{table_name}' created successfully")
except Error as e:
    print(f"Error: {e}")

# Commit the changes to the database
try:
    conn.commit()
    print("Changes committed successfully")
except Error as e:
    print(f"Error: {e}")

# Insert data into the table, handling NaN values
for index, row in df_7.iterrows():
    values = tuple(row)  # Convert the entire row to a tuple
    insert_query = f"INSERT INTO {table_name} VALUES ({', '.join(['%s'] * len(values))})"
    try:
        cursor.execute(insert_query, values)
        print(f"Inserted row {index + 1}")
    except Error as e:
        print(f"Error inserting row {index + 1}: {e}")

# Commit the changes to the database
try:
    conn.commit()
    print("Changes committed successfully")
except Error as e:
    print(f"Error: {e}")

# Close the cursor and the database connection
try:
    cursor.close()
    conn.close()
    print("MySQL connection is closed")
except Error as e:
    print(f"Error: {e}")