In [14]:
import pandas as pd
import requests
pd.set_option('display.max_column', None) # to see column in wide dataframe
import time
import numpy as np

In [18]:
#To acquire this url, go to https://www.nba.com/stats -> right click to "Inspect" -> Select "Network" -> click on "Fetch/XHR" -> select "leaguedashplayerstats...." and copy the "Request URL" from Header window.
#Note that depends on your selection from the filter, you will get different urls
test_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season=2012-13&SeasonType=Regular%20Season&StatCategory=PTS'

In [19]:
r = requests.get(url=test_url).json()

In [20]:
table_headers = r['resultSet']['headers']

In [21]:
pd.DataFrame(r['resultSet']['rowSet'],columns=table_headers)

,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,201142,1,Kevin Durant,1610612760,OKC,81,3119,731,1433,0.510,139,334,0.416,679,750,0.905,46,594,640,374,116,105,280,143,2280,2462,1.34,0.41
1,977,2,Kobe Bryant,1610612747,LAL,78,3013,738,1595,0.463,132,407,0.324,525,626,0.839,66,367,433,469,106,25,287,173,2133,1921,1.63,0.37
2,2544,3,LeBron James,1610612748,MIA,76,2877,765,1354,0.565,103,254,0.406,403,535,0.753,97,513,610,551,129,67,226,110,2036,2446,2.44,0.57
3,201935,4,James Harden,1610612745,HOU,78,2985,585,1337,0.438,179,486,0.368,674,792,0.851,62,317,379,455,142,38,295,178,2023,1872,1.54,0.48
4,2546,5,Carmelo Anthony,1610612752,NYK,67,2482,669,1489,0.449,157,414,0.379,425,512,0.830,134,326,460,171,52,32,175,205,1920,1553,0.98,0.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,203130,463,Darius Johnson-Odom,1610612747,LAL,4,6,0,4,0.000,0,1,0.000,0,0,0.000,1,3,4,1,0,0,0,0,0,1,0.00,0.00
464,2545,463,Darko Milicic,1610612738,BOS,1,5,0,1,0.000,0,0,0.000,0,0,0.000,0,1,1,0,0,0,2,1,0,-2,0.00,0.00
465,202458,463,Justin Dentmon,1610612742,DAL,2,4,0,2,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,-2,0.00,0.00
466,2679,463,Matt Carroll,1610612766,CHA,1,6,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,1,0,0,0,1,0,1,0.00,0.00
467,200780,463,Solomon Jones,1610612752,NYK,2,26,0,1,0.000,0,0,0.000,0,0,0.000,1,2,3,0,0,1,3,3,0,0,0.00,0.00

In [22]:
temp_df1 = pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)
temp_df2 = pd.DataFrame({'Year':['2012-2013' for i in range(len(temp_df1))],
                        'Season_type': ['Regular%20Season' for i in range(len(temp_df1))]})
temp_df3 = pd.concat([temp_df2,temp_df1], axis=1)
temp_df3

,Year,Season_type,PLAYER_ID,RANK,PLAYER,TEAM_ID,TEAM,GP,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,EFF,AST_TOV,STL_TOV
0,2012-2013,Regular%20Season,201142,1,Kevin Durant,1610612760,OKC,81,3119,731,1433,0.510,139,334,0.416,679,750,0.905,46,594,640,374,116,105,280,143,2280,2462,1.34,0.41
1,2012-2013,Regular%20Season,977,2,Kobe Bryant,1610612747,LAL,78,3013,738,1595,0.463,132,407,0.324,525,626,0.839,66,367,433,469,106,25,287,173,2133,1921,1.63,0.37
2,2012-2013,Regular%20Season,2544,3,LeBron James,1610612748,MIA,76,2877,765,1354,0.565,103,254,0.406,403,535,0.753,97,513,610,551,129,67,226,110,2036,2446,2.44,0.57
3,2012-2013,Regular%20Season,201935,4,James Harden,1610612745,HOU,78,2985,585,1337,0.438,179,486,0.368,674,792,0.851,62,317,379,455,142,38,295,178,2023,1872,1.54,0.48
4,2012-2013,Regular%20Season,2546,5,Carmelo Anthony,1610612752,NYK,67,2482,669,1489,0.449,157,414,0.379,425,512,0.830,134,326,460,171,52,32,175,205,1920,1553,0.98,0.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,2012-2013,Regular%20Season,203130,463,Darius Johnson-Odom,1610612747,LAL,4,6,0,4,0.000,0,1,0.000,0,0,0.000,1,3,4,1,0,0,0,0,0,1,0.00,0.00
464,2012-2013,Regular%20Season,2545,463,Darko Milicic,1610612738,BOS,1,5,0,1,0.000,0,0,0.000,0,0,0.000,0,1,1,0,0,0,2,1,0,-2,0.00,0.00
465,2012-2013,Regular%20Season,202458,463,Justin Dentmon,1610612742,DAL,2,4,0,2,0.000,0,0,0.000,0,0,0.000,0,0,0,0,0,0,0,0,0,-2,0.00,0.00
466,2012-2013,Regular%20Season,2679,463,Matt Carroll,1610612766,CHA,1,6,0,0,0.000,0,0,0.000,0,0,0.000,0,0,0,1,0,0,0,1,0,1,0.00,0.00
467,2012-2013,Regular%20Season,200780,463,Solomon Jones,1610612752,NYK,2,26,0,1,0.000,0,0,0.000,0,0,0.000,1,2,3,0,0,1,3,3,0,0,0.00,0.00

In [23]:
del temp_df1, temp_df2, temp_df3

In [24]:
df_cols = ['Year', ' Season_type'] + table_headers

In [9]:
# df = pd.DataFrame(columns=df_cols)
# season_types = ['Regular%20Season', 'Playoffs']
# years = ['2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18', '2018-19', '2019-20', '2020-21', '2021-22', '2022-23']
# begin_loop = time.time()
# for y in years: 
#     for s in season_types:
#         api_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season=' +y+'&SeasonType='+s+'&StatCategory=PTS'
#         r = requests.get(url=api_url).json()
#         temp_df1 = pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)
#         temp_df2 = pd.DataFrame({'Year':[y for i in range(len(temp_df1))],
#                                 'Season_type': [s for i in range(len(temp_df1))]})
#         temp_df3 = pd.concat([temp_df2,temp_df1], axis=1)
#         df = pd.concat([df, temp_df3], axis=0)
#         print(f'Finished scraping data for the {y} {s}. ')
#         lag = np.random.uniform(5,40)
#         print(f'...waiting {round(lag,1)} seconds')
#         time.sleep(lag)
# print(f'Process done! Total run time: {round((time.time() - begin_loop)/60,2)}')
# df.to_excel('nba_player_data.xlsx',index=False)

#added comments as below

In [26]:
df_cols = [...]  # List of column names
df = pd.DataFrame(columns=df_cols)

season_types = ['Regular%20Season', 'Playoffs']
years = ['2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18', '2018-19', '2019-20', '2020-21', '2021-22', '2022-23']
begin_loop = time.time()

for y in years: 
    for s in season_types:
        api_url = 'https://stats.nba.com/stats/leagueLeaders?LeagueID=00&PerMode=Totals&Scope=S&Season=' +y+'&SeasonType='+s+'&StatCategory=PTS'
        r = requests.get(url=api_url).json()
        
        temp_df1 = pd.DataFrame(r['resultSet']['rowSet'], columns=table_headers)
        
        # Create a separate DataFrame for 'Year' and 'Season_type'
        temp_df2 = pd.DataFrame({'Year': [y for _ in range(len(temp_df1))],
                                 'Season_type': [s for _ in range(len(temp_df1))]})
        
        # Concatenate the 'Year' and 'Season_type' DataFrame with temp_df1
        temp_df3 = pd.concat([temp_df2, temp_df1], axis=1)
        
        # Append temp_df3 to the main DataFrame
        df = pd.concat([df, temp_df3], axis=0)
        
        print(f'Finished scraping data for the {y} {s}. ')
        lag = np.random.uniform(5, 40)
        print(f'...waiting {round(lag, 1)} seconds')
        time.sleep(lag)

print(f'Process done! Total run time: {round((time.time() - begin_loop)/60, 2)}')
df.to_excel('nba_player_data.xlsx', index=False)

Finished scraping data for the 2012-13 Regular%20Season.
...waiting 33.2 seconds
Finished scraping data for the 2012-13 Playoffs.
...waiting 15.0 seconds
Finished scraping data for the 2013-14 Regular%20Season.
...waiting 38.7 seconds
Finished scraping data for the 2013-14 Playoffs.
...waiting 14.4 seconds
Finished scraping data for the 2014-15 Regular%20Season.
...waiting 39.8 seconds
Finished scraping data for the 2014-15 Playoffs.
...waiting 13.7 seconds
Finished scraping data for the 2015-16 Regular%20Season.
...waiting 33.3 seconds
Finished scraping data for the 2015-16 Playoffs.
...waiting 7.1 seconds
Finished scraping data for the 2016-17 Regular%20Season.
...waiting 8.6 seconds
Finished scraping data for the 2016-17 Playoffs.
...waiting 9.8 seconds
Finished scraping data for the 2017-18 Regular%20Season.
...waiting 26.5 seconds
Finished scraping data for the 2017-18 Playoffs.
...waiting 28.1 seconds
Finished scraping data for the 2018-19 Regular%20Season.
...waiting 22.4 seconds
Finished scraping data for the 2018-19 Playoffs.
...waiting 21.2 seconds
Finished scraping data for the 2019-20 Regular%20Season.
...waiting 10.4 seconds
Finished scraping data for the 2019-20 Playoffs.
...waiting 28.3 seconds
Finished scraping data for the 2020-21 Regular%20Season.
...waiting 7.8 seconds
Finished scraping data for the 2020-21 Playoffs.
...waiting 5.3 seconds
Finished scraping data for the 2021-22 Regular%20Season.
...waiting 9.2 seconds
Finished scraping data for the 2021-22 Playoffs.
...waiting 32.5 seconds
Finished scraping data for the 2022-23 Regular%20Season.
...waiting 9.0 seconds
Finished scraping data for the 2022-23 Playoffs.
...waiting 35.5 seconds
Process done! Total run time: 7.77

In [ ]:
import requests

# Define the URL
url_1= "https://stats.nba.com/stats/teamgamelogs?DateFrom=&DateTo=&GameSegment=&ISTRound=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=Totals&Period=0&PlusMinus=N&Rank=N&Season=2022-23&SeasonSegment=&SeasonType=Regular%20Season&ShotClockRange=&VsConference=&VsDivision="

# Define the headers
headers = {
    "Accept": "*/*",
    "Accept-Language": "en-US,en;q=0.9",
    "Connection": "keep-alive",
    "Origin": "https://www.nba.com",
    "Referer": "https://www.nba.com/",
    "Sec-Fetch-Dest": "empty",
    "Sec-Fetch-Mode": "cors",
    "Sec-Fetch-Site": "same-site",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
    "sec-ch-ua": '"Not_A Brand";v="8", "Chromium";v="120", "Google Chrome";v="120"',
    "sec-ch-ua-mobile": "?0",
    "sec-ch-ua-platform": '"Windows"'
}

# Make the GET request
t = requests.get(url_1, headers=headers)

# Check if the request was successful
if t.status_code == 200:
    t = t.json()  # Assuming the response is in JSON format
    # Process the data as needed
    print(t)
else:
    print(f"Request failed with status code: {t.status_code}")

In [ ]:
table_headers_2 = t.get('resultSets', [])[0].get('headers', [])

# Check if 'headers' exists and is not empty
if table_headers_2:
    print("Table Headers:", table_headers_2)
else:
    print("No 'headers' found in the JSON response.")

In [4]:
# Assuming already obtained the JSON response in the 't' variable
result_sets = t.get('resultSets', [])

# Check if 'resultSets' exists and is not empty
if result_sets:
    # Assuming want the headers from the first result set
    first_result_set = result_sets[0]
    table_headers = first_result_set.get('headers', [])
    
    # Check if 'headers' exists and is not empty
    if table_headers:
        print("Table Headers:", table_headers)
    else:
        print("No 'headers' found in the first result set.")
else:
    print("No 'resultSets' found in the JSON response.")

Table Headers: ['SEASON_YEAR', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS', 'PLUS_MINUS', 'GP_RANK', 'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'FGM_RANK', 'FGA_RANK', 'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK', 'FG3_PCT_RANK', 'FTM_RANK', 'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK', 'DREB_RANK', 'REB_RANK', 'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK', 'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK', 'AVAILABLE_FLAG']

In [5]:
result_sets = t.get('resultSets', [])

# Check if 'resultSets' exists and is not empty
if result_sets:
    # Assuming want data from the first result set
    data = result_sets[0].get('rowSet', [])  # Extract the data
    
    if data:
        # Assuming you've already obtained the 'table_headers_2' list
        df = pd.DataFrame(data, columns=table_headers_2)
        # Now 'df' contains your data in a Pandas DataFrame
    else:
        print("No data found in the first result set.")
else:
    print("No 'resultSets' found in the JSON response.")

In [6]:
data = t.get('resultSets', [])[0].get('rowSet', [])  # Extract the data

# Assuming already obtained the 'table_headers_2' list
df2 = pd.DataFrame(data, columns=table_headers_2)

In [7]:
df2 = pd.DataFrame(data, columns=table_headers_2)

In [8]:
#check to see if df2 in right format
df2

,SEASON_YEAR,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,AVAILABLE_FLAG
0,2022-23,1610612744,GSW,Golden State Warriors,0022201230,2023-04-09T00:00:00,GSW @ POR,W,48.0,58,96,0.604,27,49,0.551,14,16,0.875,9,49,58,47,16.0,13,6,3,18,9,157,56.0,1,1,1,1,159,3,316,35,1,56,34,1831,2089,383,1392,8,47,1,1578,55,512,457,678,2455,3,1,1
1,2022-23,1610612751,BKN,Brooklyn Nets,0022201217,2023-04-09T00:00:00,BKN vs. PHI,L,48.0,35,83,0.422,12,32,0.375,23,28,0.821,10,32,42,22,19.0,6,6,5,22,23,105,-29.0,1,1231,1231,1231,159,2232,1826,2073,1088,1425,996,451,550,852,1152,1290,1332,1756,2129,1444,512,1279,1607,460,1924,2406,1
2,2022-23,1610612765,DET,Detroit Pistons,0022201223,2023-04-09T00:00:00,DET @ CHI,L,48.0,31,85,0.365,9,33,0.273,10,13,0.769,15,44,59,20,25.0,1,3,7,16,16,81,-22.0,1,1231,1231,1231,159,2420,1571,2430,1864,1275,2060,2282,2320,1417,253,49,33,2061,2442,2438,1603,1950,318,1999,2458,2327,1
3,2022-23,1610612742,DAL,Dallas Mavericks,0022201224,2023-04-09T00:00:00,DAL vs. SAS,L,48.0,46,108,0.426,17,53,0.321,8,16,0.500,8,38,46,28,4.0,4,3,3,21,13,117,-21.0,1,1231,1231,1231,159,455,22,2019,266,17,1669,2390,2089,2444,1632,367,787,605,3,2048,1603,457,1383,2335,966,2299,1
4,2022-23,1610612749,MIL,Milwaukee Bucks,0022201221,2023-04-09T00:00:00,MIL @ TOR,L,48.0,38,82,0.463,12,34,0.353,17,21,0.810,7,31,38,28,14.0,5,2,2,13,19,105,-16.0,1,1231,1231,1231,159,1853,1950,1425,1088,1119,1285,1320,1464,971,1859,1475,1873,605,1120,1735,2005,183,74,1306,1924,2162,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,2022-23,1610612760,OKC,Oklahoma City Thunder,0022200010,2022-10-19T00:00:00,OKC @ MIN,L,48.0,38,99,0.384,14,45,0.311,18,22,0.818,16,41,57,22,14.0,6,6,5,26,21,108,-7.0,1,1231,1231,1231,159,1853,177,2366,671,163,1748,1153,1318,870,184,145,62,1756,1120,1444,512,1279,2237,855,1718,1650,1
2456,2022-23,1610612755,PHI,Philadelphia 76ers,0022200001,2022-10-18T00:00:00,PHI @ BOS,L,48.0,40,80,0.500,13,34,0.382,24,28,0.857,4,27,31,16,14.0,8,3,3,25,24,117,-9.0,1,1231,1231,1231,159,1496,2133,753,857,1119,931,361,550,517,2330,2084,2381,2386,1120,800,1603,457,2141,321,966,1798,1
2457,2022-23,1610612738,BOS,Boston Celtics,0022200001,2022-10-18T00:00:00,BOS vs. PHI,W,48.0,46,82,0.561,12,35,0.343,22,28,0.786,6,30,36,24,11.0,8,3,3,24,25,126,9.0,1,1,1,1,159,455,1950,155,1088,984,1398,550,550,1229,2058,1641,2096,1355,449,800,1603,457,2002,225,395,587,1
2458,2022-23,1610612744,GSW,Golden State Warriors,0022200002,2022-10-18T00:00:00,GSW vs. LAL,W,48.0,45,99,0.455,16,45,0.356,17,23,0.739,11,37,48,31,18.0,11,4,4,23,18,123,14.0,1,1,1,1,159,576,177,1600,379,163,1261,1320,1179,1703,915,491,549,253,1985,196,1183,859,1831,1536,557,331,1
2459,2022-23,1610612747,LAL,Los Angeles Lakers,0022200002,2022-10-18T00:00:00,LAL @ GSW,L,48.0,40,94,0.426,10,40,0.250,19,25,0.760,9,39,48,23,22.0,12,4,4,18,23,109,-14.0,1,1231,1231,1231,159,1496,448,2023,1634,441,2211,994,901,1520,1392,289,549,1575,2377,107,1183,859,678,460,1643,2081,1

In [2]:
import time

In [ ]:
import requests

# Define the URL
url_1= "https://stats.nba.com/stats/teamgamelogs?DateFrom=&DateTo=&GameSegment=&ISTRound=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=Totals&Period=0&PlusMinus=N&Rank=N&Season=2022-23&SeasonSegment=&SeasonType=Regular%20Season&ShotClockRange=&VsConference=&VsDivision="

# Define the headers
headers = {
    "Accept": "*/*",
    "Accept-Language": "en-US,en;q=0.9",
    "Connection": "keep-alive",
    "Origin": "https://www.nba.com",
    "Referer": "https://www.nba.com/",
    "Sec-Fetch-Dest": "empty",
    "Sec-Fetch-Mode": "cors",
    "Sec-Fetch-Site": "same-site",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36",
    "sec-ch-ua": '"Not_A Brand";v="8", "Chromium";v="120", "Google Chrome";v="120"',
    "sec-ch-ua-mobile": "?0",
    "sec-ch-ua-platform": '"Windows"'
}

# Make the GET request
t = requests.get(url_1, headers=headers)

# Check if the request was successful
if t.status_code == 200:
    t = t.json()  # Assuming the response is in JSON format
    # Process the data as needed
    print(t)
else:
    print(f"Request failed with status code: {t.status_code}")

In [28]:
# #Extract team_stats to excel

# df_cols_2 = [...]  # List of column names
# df_1 = pd.DataFrame(columns=df_cols_2)

# season_types = ['Regular%20Season', 'Playoffs']
# years = ['2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18', '2018-19', '2019-20', '2020-21', '2021-22', '2022-23']
# begin_loop = time.time()

# for y in years: 
#     for s in season_types:
#         api_url_2 = 'https://stats.nba.com/stats/teamgamelogs?DateFrom=&DateTo=&GameSegment=&ISTRound=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=Totals&Period=0&PlusMinus=N&Rank=N&Season=2022-23&SeasonSegment=&SeasonType=Regular%20Season&ShotClockRange=&VsConference=&VsDivision='
#         t1 = requests.get(url=api_url_2, headers=headers).json()
        
#         temp_df4 = pd.DataFrame(t.get('resultSets', [])[0].get('rowSet', []), columns=table_headers_2)
        
#         # Create a separate DataFrame for 'Year' and 'Season_type'
#         temp_df5= pd.DataFrame({'Year': [y for _ in range(len(temp_df4))],
#                                  'Season_type': [s for _ in range(len(temp_df4))]})
        
#         # Concatenate the 'Year' and 'Season_type' DataFrame with temp_df1
#         temp_df6 = pd.concat([temp_df4, temp_df5], axis=1)
        
#         # Append temp_df3 to the main DataFrame
#         df_1 = pd.concat([df_1, temp_df6], axis=0)
        
#         print(f'Finished scraping data for the {y} {s}. ')                                         
#         lag = np.random.uniform(5, 40)    
#         time.sleep(lag)

# print(f'Process done! Total run time: {round((time.time() - begin_loop)/60, 2)}')
# df_1.to_excel('nba_team_stats.xlsx', index=False)

Finished scraping data for the 2012-13 Regular%20Season.
Finished scraping data for the 2012-13 Playoffs.
Finished scraping data for the 2013-14 Regular%20Season.
Finished scraping data for the 2013-14 Playoffs.
Finished scraping data for the 2014-15 Regular%20Season.
Finished scraping data for the 2014-15 Playoffs.
Finished scraping data for the 2015-16 Regular%20Season.
Finished scraping data for the 2015-16 Playoffs.
Finished scraping data for the 2016-17 Regular%20Season.
Finished scraping data for the 2016-17 Playoffs.
Finished scraping data for the 2017-18 Regular%20Season.
Finished scraping data for the 2017-18 Playoffs.
Finished scraping data for the 2018-19 Regular%20Season.
Finished scraping data for the 2018-19 Playoffs.
Finished scraping data for the 2019-20 Regular%20Season.
Finished scraping data for the 2019-20 Playoffs.
Finished scraping data for the 2020-21 Regular%20Season.
Finished scraping data for the 2020-21 Playoffs.
Finished scraping data for the 2021-22 Regular%20Season.
Finished scraping data for the 2021-22 Playoffs.
Finished scraping data for the 2022-23 Regular%20Season.
Finished scraping data for the 2022-23 Playoffs.
Process done! Total run time: 8.1

In [ ]:
import pandas as pd
import requests
import time
import numpy as np
import mysql.connector
from mysql.connector import Error

# Database connection
try:
    conn = mysql.connector.connect(
        database='your_database',
        user='your_username',
        password='your_password',
        host='your_host'
    )
    if conn.is_connected():
        cursor = conn.cursor()
        print("Connected to MySQL database")
except Error as e:
    print(e)

df_cols_2 = [...]  # List of column names
df_1 = pd.DataFrame(columns=df_cols_2)

season_types = ['Regular%20Season', 'Playoffs']
years = ['2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18', '2018-19', '2019-20', '2020-21', '2021-22', '2022-23']
begin_loop = time.time()

for y in years: 
    for s in season_types:
        api_url_2 = 'https://stats.nba.com/stats/teamgamelogs?DateFrom=&DateTo=&GameSegment=&ISTRound=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=Totals&Period=0&PlusMinus=N&Rank=N&Season=2022-23&SeasonSegment=&SeasonType=Regular%20Season&ShotClockRange=&VsConference=&VsDivision='
        t1 = requests.get(url=api_url_2, headers=headers).json()
        
        temp_df4 = pd.DataFrame(t.get('resultSets', [])[0].get('rowSet', []), columns=table_headers_2)
        
        # Create a separate DataFrame for 'Year' and 'Season_type'
        temp_df5= pd.DataFrame({'Year': [y for _ in range(len(temp_df4))],
                                 'Season_type': [s for _ in range(len(temp_df4))]})
        
        # Concatenate the 'Year' and 'Season_type' DataFrame with temp_df1
        temp_df6 = pd.concat([temp_df4, temp_df5], axis=1)
        
        # Append temp_df3 to the main DataFrame
        df_1 = pd.concat([df_1, temp_df6], axis=0)
        
        print(f'Finished scraping data for the {y} {s}. ')                                         
        lag = np.random.uniform(5, 40)    
        time.sleep(lag)

print(f'Process done! Total run time: {round((time.time() - begin_loop)/60, 2)}')
df_1.to_excel('nba_team_stats.xlsx', index=False)